
$gray : #d3d3d3;
$green : #75B975;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 23px;
}
.box {
  background: $gray;
  border: 3px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    background: $green;
    color: white;
  }
}
